html {
  background-color: white;
}

body {
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

.card {
  text-align: center;
  background-color: lightgray;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  width: 300px;
  overflow: hidden;
}

.windowTotal{
  margin-left: 50px;
}

.imgNote{
    justify-content: center;
    width: 100%;
}

.inputs{
    border-radius: 100px;
}

.btn{
    background-color: lightsalmon;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
}

#circle{
  height:100px;
  width:100px;
  background:white;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}

input { 
    text-align: center; 
}